---
import { Image } from 'astro:assets';
import MegadethIcon from '../assets/megadeth-icon.webp';
import Available from './Available.astro';
import Logo from 'src/ui/Logo.astro';

const { name, collection, available, year } = Astro.props;
---

<div
  class='font-primary h-full w-[30%] flex flex-col items-center justify-between py-5 px-2 gap-5 text-sm'
>
  <p
    class='h-1/2 uppercase flex flex-col justify-around text-center text-pretty bg-lime-300'
  >
    <strong>{collection}</strong>
    <span class='font-medium'>"{name}"</span>
    <span>({year})</span>
    <Available available={available} />
  </p>
  <Image
    src={MegadethIcon}
    alt={`${collection} icon`}
    class='h-auto w-[80%] grayscale-[10%] bg-pink-500'
  />
  <div
    class='bg-stone-300 w-full flex justify-center items-end relative h-[10%]'
  >
    <Logo size='60' />
  </div>
</div>
